@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --bg-color: #2d0070;
  --font-1: "Outfit", sans-serif;
  --font-2: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
}
body {
  background-color: var(--bg-color);
  max-width: 1065px;
  margin: 0 auto;
}
.nav-bar {
  max-width: 100%;
  width: 1067px;
  min-height: 28px;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;

  .logo {
    width: 87.08px;
    height: 28px;
    font-size: 20px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .links {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: red;
    }
  }
  #about {
    width: 53.05px;
    height: 28px;
  }
  #pricing {
    width: 61.06px;
    height: 28px;
  }
  #contact {
    width: 68.06px;
    height: 28px;
  }
  #buy-nfts {
    width: 71.07;
    height: 28px;
  }
}

.hero-sec {
  max-width: 1065px;
  min-height: 544px;
  display: flex;
  margin-top: 48px;

  #hero-left-sec {
    width: 50%;
    min-height: 544px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .topic {
      max-width: 462px;
      min-height: 261px;
      font-weight: bold;
      letter-spacing: 0%;

      h1 {
        font-size: 87px;
      }
    }
    .hero-note {
      max-width: 373px;
      height: 55px;
      font-family: var(--font-2);
      margin-top: 28px;
    }
    .button-box {
      min-height: 72px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      button {
        font-family: var(--font-2);
        font-size: 20px;
        border-radius: 36px;
      }

      #explore {
        width: 255px;
        height: 72px;
        background-color: #9f3ee7;
        border: 0px;
      }
      #create {
        width: 255px;
        height: 72px;
        background-color: transparent;
        border: 1px solid #9f3ee7;
      }
    }
  }

  .hero-img {
    width: 525px;
    min-height: 544px;

    img {
      min-height: 544px;
      max-width: 525px;
    }
  }
}

@media (max-width: 950px) {
  .hero-sec {
    max-width: 1065px;
    min-height: 544px;
    display: flex;
    flex-direction: column;
    margin-top: 48px;
  }
}
