@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --bg-color: #2d0070;
  --primary-color: #9f3ee7;
  --secondary-color: #3e057f;
  --font-1: "Outfit", sans-serif;
  --font-2: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
}
body {
  background-color: var(--bg-color);
  max-width: 1065px;
  margin: 0 auto;
}
.nav-bar {
  max-width: 100%;
  width: 1067px;
  min-height: 28px;
  margin: 64px;
  display: flex;
  justify-content: space-between;

  .logo {
    width: 87.08px;
    height: 28px;
    font-size: 20px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .links {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: red;
    }
  }
  #about {
    width: 53.05px;
    height: 28px;
  }
  #pricing {
    width: 61.06px;
    height: 28px;
  }
  #contact {
    width: 68.06px;
    height: 28px;
  }
  #buy-nfts {
    width: 71.07;
    height: 28px;
  }
}

.hero-sec {
  max-width: 1065px;
  min-height: 544px;
  display: flex;
  justify-content: space-between;
  padding: 48px;

  #hero-left-sec {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .topic {
      max-width: 462px;
      min-height: 261px;
      font-weight: bold;
      letter-spacing: 0%;

      h1 {
        font-size: 87px;
      }
    }
    .hero-note {
      max-width: 373px;
      height: 55px;
      font-family: var(--font-2);
      margin-top: 28px;
    }
    .button-box {
      min-height: 72px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      button {
        font-family: var(--font-2);
        font-size: 20px;
        border-radius: 36px;
      }

      #explore {
        width: 255px;
        height: 72px;
        background-color: var(--primary-color);
        border: 0px;
      }
      #create {
        width: 255px;
        height: 72px;
        background-color: transparent;
        border: 1px solid var(--primary-color);
      }
    }
  }
  img {
    min-height: 544px;
    max-width: 525px;
    flex: 1;
  }
}

.brands-add {
  max-width: 1065px;
  min-height: 142px;
  margin: 64px;
  margin-top: 160px;

  p {
    width: 179px;
    height: 28px;
    font-size: 20px;
    font-family: var(--font-2);
  }

  .brands-bar {
    max-width: 100%;
    min-height: 100px;
    background-color: #6358bd30;
    margin-top: 14px;
    display: flex;
    justify-content: space-around;

    #tech-crunch {
      width: 167px;
      height: 62px;
      margin-top: 19px;
    }
    #fast-company {
      width: 149px;
      height: 23px;
      margin-top: 39px;
    }
    #mit {
      width: 60px;
      height: 33px;
      margin-top: 34px;
    }
    #forbes {
      width: 101px;
      height: 25px;
      margin-top: 38px;
    }
  }
}
.portfolio {
  max-width: 985px;
  min-height: 459px;
  margin: 100px auto;
  display: flex;

  #portfolio-img {
    width: 459px;
    height: 459px;
    flex: 1;
  }
  .portfolio-right {
    display: flex;
    flex-direction: column;
    padding: 53px;

    p1 {
      width: 122px;
      height: 28px;
      font-size: 20px;
      font-family: var(--font-2);
    }
    h1 {
      width: 481px;
      min-height: 144px;
      font-family: var(--font-1);
      font-size: 57px;
    }
    p2 {
      width: 481px;
      height: 83px;
      font-family: var(--font-2);
    }
    #explore-feature {
      width: 356px;
      height: 72px;
      border: none;
      border-radius: 36px;
      background-color: var(--primary-color);
      font-size: 20px;
      font-family: var(--font-2);
    }
  }
}
.market-place {
  max-width: 1021px;
  height: 416px;
  display: flex;
  justify-content: space-between;
  margin: 64px;

  .market-place-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p1 {
      width: 122px;
      height: 28px;
      font-size: 20px;
      font-family: var(--font-2);
    }
    h1 {
      width: 481px;
      height: 114px;
      font-size: 57px;
      font-family: var(--font-1);
    }
    p2 {
      width: 481px;
      height: 55px;
      font-size: 18px;
      font-family: var(--font-2);
    }
    #view-marketplace {
      width: 356px;
      height: 72px;
      background-color: var(--primary-color);
      border: none;
      border-radius: 36px;
      font-size: 20px;
      font-family: var(--font-2);
    }
  }
  #cell-phone {
    width: 416px;
    height: 416px;
    flex: 1;
  }
}

.profile {
  max-width: 1065px;
  min-height: 494px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  p {
    width: 164px;
    height: 28px;
    font-size: 20px;
    font-family: var(--font-2);
  }
  h2 {
    width: 676px;
    height: 57px;
    font-size: 57px;
    font-family: var(--font-1);
  }
  .profile-bottom {
    max-width:1065px;
    height: 345px;
    display: flex;
    justify-content:space-around;

    img{
      width: 138px;
      height: 138px;

    }
    .profile-box {
      width: 345px;
      height: 329px;
      background-color: var(--secondary-color);
      display: flex;
      flex-direction:column;
    

      .info {
        width: 345px;
        height: 260px;
        justify-content: center;
        h1 {
          width: 200px;
          height: 28px;
          font-size: 20px;
          font-family: var(--font-2);
        }
        p {
          width: 289px;
          height: 85px;
          font-size: 18px;
          font-family: var(--font-2);
        }
      }
    }
  }
}

/* @media (max-width: 950px) {
  .hero-sec {
    max-width: 1065px;
    min-height: 544px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 48px;
  }
} */
