* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #7adfff;
}
.container {
  max-width: 1200px;
  max-height: 800px;
  margin: 72px auto;
  padding: 0 16px;
}
.box {
  width: 100%;
  height: 269px;
  background-color: white;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media screen and (width > 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .container{
     margin: 72px auto;
  }
}
@media screen and (width<1200px) and (width > 392px) {
  .grid {
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
  }
  .container{
    margin: 48px auto;
  }
}
@media screen and (width<=392px) {
  .grid {
    grid-template-columns: repeat(1,1fr);
    gap: 16px;
  }
  .container{
    margin: 32px auto;
  }
}
