* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #9DC783;
}
.upp-container {
  max-width: 1200px;
  min-height: 600px;
  background-color: #FFFFFF;
  margin:auto;
  margin-top:32px ;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap: 16px;
  padding: 16px;
}
.box{
  max-width:575px;
  min-height: 274px;
  background-color: #D01010;
}
.bottom-container{
  max-width: 1200px;
  min-height: 350px;
  background-color: #FFFFFF;
  margin: auto;
  margin-top:24px;
  display: grid;
  
}
.big-green{
  max-width:1167px;
  width: 100%;
  height: 235px;
  background-color:#0AAE42;
  margin: 16px;
}
.small-bottom{
  max-width:1167px;
  width: 100%;
  min-height: 68px;
  height: 100%;
  margin:16px;
  margin-top:0px;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap: 16px;
  
}
.box-green{
  height: 68px;
  width:279px;
  background-color: #1BFF69;
}
@media screen and (width < 1200px) and (width >850px) {
  
  .big-green{
  
  width: 100%;
  height: 324px;
  background-color:#0AAE42;
  margin: 16px;
}
.small-bottom{
  max-width:1167px;
  width: 100%;
  min-height: 68px;
  height: 100%;
  margin:16px;
  margin-top:0px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap: 16px;
  
}
}
@media screen and (width <850px) and (width >600px) {
 .big-green{
  max-width :688px;
  height: 324px;
  background-color:#0AAE42;
  margin: 16px;
}
  .small-bottom{
  max-width:688px;
  min-height: 90px;
  margin:16px;
  margin-top:0px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap: 16px;
}
.box-green{
  height: 39px;
  width:236px;
  background-color: #1BFF69;
}
}
@media screen and (width <=600px) and (width >350px) {
  .small-bottom{
  max-width:1167px;
  width: 100%;
  min-height: 68px;
  height: 100%;
  margin:16px;
  margin-top:0px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap: 16px;
  
}
}
@media screen and (width <=400px) and (width >=300px) {
 .upp-container {
  max-width: 1200px;
  min-height: 600px;
  background-color: #FFFFFF;
  margin:auto;
  margin-top:32px ;
  display: grid;
  grid-template-columns:repeat(1,1fr);
  gap: 16px;
  padding: 16px;
}
.bottom-container{
  max-width: 375px;
  min-height: 564px;
  background-color: #FFFFFF;
  margin: auto;
  margin-top:24px;
  display: flex;
  flex-direction: column;
}
.big-green{
  max-width:333px;
  width: 100%;
  height: 324px;
  background-color:#0AAE42;
  margin: 16px;
}
  .small-bottom{
  max-width:333px;
  width: 100%;
  min-height: 42px;
  height: 100%;
  margin:16px;
  margin-top:0px;
  display:grid;
  grid-template-columns:repeat(1,1fr);
  gap: 16px;
  
}
.box-green{
  height: 42px;
  width:333px;
  background-color: #1BFF69;
}
}
