* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #9dc783;
}
.upp-container {
  max-width: 1200px;
  min-height: 600px;
  background-color: #ffffff;
  margin: 32px auto;
}
#upp-div {
  max-width: 100%;
  min-height: 566px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;
}
.upp-box {
  max-width: 100%;
  min-height: 274px;
  background-color: #d01010;
}
.low-container {
  max-width: 1200px;
  min-height: 350px;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#low-div {
  max-width: 100%;
  min-height: 235px;
  background-color: #0aae42;
  margin: 16px;
}
#low-box {
  max-width: 100%;
  min-height: 68px;
  margin: 16px;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.down-box {
  max-width: 100%;
  min-height: 68px;
  background-color: #1bff69;
}
/* tablet */
@media (max-width: 1025px) {
  #low-box {
    max-width: 100%;
    min-height: 68px;
    margin: 16px;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .down-box {
    max-width: 100%;
    min-height: 39px;
    background-color: #1bff69;
  }
}
/* phone */
@media (max-width: 768px) {
  #low-box {
    max-width: 100%;
    min-height: 68px;
    margin: 16px;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .down-box {
    max-width: 100%;
    min-height: 42px;
    background-color: #1bff69;
  }
}
/* small phone */
@media (max-width: 480px) {
  .down-box {
    max-width: 100%;
    min-height: 62px;
    background-color: #1bff69;
  }
}
