*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: #9DC783;
}
.upp-container{
    max-width:1200px;
    min-height: 600px;
    background-color: #FFFFFF;
    margin: 32px auto;
}
#upp-div{
    max-width: 100%;
    min-height: 566px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    padding: 16px;
}
.upp-box{
    max-width: 100%;
    min-height: 274px;
    background-color: #D01010;
}